[Unit]
Description=Lynx Process Manager Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/lynxd
Restart=on-failure
User=lynx
Group=lynx
RuntimeDirectory=lynxd
StateDirectory=lynx-pm
LogsDirectory=lynx-pm
# Hardening
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
ProtectHome=read-only
ReadWritePaths=/var/lib/lynx-pm /var/log/lynx-pm /run/lynxd

[Install]
WantedBy=multi-user.target
