#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	go build -v -o lynx ./cmd/lynx
	go build -v -o lynxd ./cmd/lynxd

override_dh_auto_test:
	go test -v ./...

override_dh_installsystemd:
	dh_installsystemd --name=lynxd

override_dh_dwz:
	# Skip dwz compression
